<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <!-- menu profile quick info -->
                    <% include partials/left_user_prodile.ejs %>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <% include partials/left_menu.ejs %>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <% include partials/left_buttom_menu.ejs %>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <% include partials/right_menu.ejs %>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Register New User</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Add User <small></small></h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <form class="form-horizontal form-label-left" method="POST" action="add_sub_user" novalidate>


                                        <span class="section">Personal Info</span>

                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="name" class="form-control col-md-7 col-xs-12"
                                                    data-validate-length-range="3" data-validate-words="1" 
                                                    name="user_name" placeholder="" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                for="telephone">Phone <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="tel" id="telephone" name="user_phone"
                                                    placeholder="(016...) Length Must be 11" required="required"
                                                    data-validate-length-range="8,11"
                                                    class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="password"
                                                class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="password" type="password" name="user_password"
                                                    data-validate-length="6,8" class="form-control col-md-7 col-xs-12"
                                                    required="required">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="password2"
                                                class="control-label col-md-3 col-sm-3 col-xs-12">Repeat
                                                Password</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="password2" type="password" name="user_password2"
                                                    data-validate-linked="user_password"
                                                    class="form-control col-md-7 col-xs-12" required="required">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                                                Permission<span class="required"> *</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <p style="padding: 5px;">
                                                    <input type="checkbox" name="user_permission" id="permission1"
                                                        value="Stock Receive" data-parsley-mincheck="2" required
                                                        class="flat" />
                                                    Stock Receive
                                                    <br />

                                                    <input type="checkbox" name="user_permission" id="permission2"
                                                        value="Stock Return" class="flat" /> Stock Return
                                                    <br />

                                                    <input type="checkbox" name="user_permission" id="permission3"
                                                        value="Sells" class="flat" /> Sells
                                                    <br />

                                                    <input type="checkbox" name="user_permission" id="permission4"
                                                        value="Sells Return" class="flat" /> Sells Return
                                                    <br />

                                                    <input type="checkbox" name="user_permission" id="permission5"
                                                        value="View Stock" class="flat" /> View Stock
                                                    <br />
                                                    <p>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <% include partials/footer.ejs %>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

</body>

</html>