<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/">Dashboard</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Invoice <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/invoice_list">Invoice List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Product <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/product/add_product">Add Product</a></li>
            <li><a href="/product/product_list">Product List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> User <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/add_user">Add User</a></li>
            <li><a href="/user_list">User List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Stock <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/stock/stock_list">Current Stock</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Live On</h3>
      <ul class="nav side-menu">
        
        <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="#level1_1">Level One</a>
              <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="level2.html">Level Two</a>
                  </li>
                  <li><a href="#level2_1">Level Two</a>
                  </li>
                  <li><a href="#level2_2">Level Two</a>
                  </li>
                </ul>
              </li>
              <li><a href="#level1_2">Level One</a>
              </li>
          </ul>
        </li>                  
        <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
      </ul>
    </div>

  </div>